body, html{
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

#deepSearchZone{
    margin: 8px;
}

h1{
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
}


.exp-header, .edu-header{
    margin-top: 10px;
    text-align: left;
    font-size: 75px;
    letter-spacing: 2px;
}

.project-header, .about-header{
    margin-top: 10px;
    text-align: left;
    font-size: 75px;
    letter-spacing: 2px;
}

/* right-side */
 .project{
    padding-left: 10%;
    padding-right: 10%;
}

#sumSkills{
    font-size: 20px;
    font-weight: 500;
    color: #fff
    box-shadow: 5px 10px 8px #888888;
}


.about{
    padding-left: 10%;
    padding-right: 10%;
    background: #293039;
    height: auto;
    padding-top: 15px;
    padding-bottom: 25px;
    color: white;
   
}

 .experience, .education{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 55px;
    margin-top: 55px;
 }

.about-text{
    font-size: 17px;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: #232930;
    border-radius: 15px;
}

.summary-text{
    font-size: 17px;

}

.highlight{
    color: #03a9f4;
    font-weight: 800;
}

.card-img-top{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 15px;
}


#small-pic{  
    width: 50vh;
    height: 40vh;
}

/* just for TP */
#small-pic-tp{  
    width: 40vh;
    height: 45vh;
}

#edu-pic{
    width: 45vh;
    height: 20vh;
}

.misc-info{
    font-size: 17px;
    color: #696969;
}

.card-body{
    text-align: center;
    padding: 15px;
    

}

.card-text{
 font-size: 20px;
 margin: 8px;
}

.card{
 margin-top: 15px;
 border-bottom: none;
 border-left: none;
 border-right: none;
 border-top: 5px solid lightgrey;   
}

.card-title{
 font-size: 25px;
 font-weight: 700;
 color: #03a9f4;
 margin: 4px;
     
}

 .body-hidden{
     margin-top: 8px;
     transition: none;
     border-left: 5px solid lightgrey;
     border-right: 5px solid lightgrey;
     padding: 10px;
     text-align: left;
     
 }

 .btn-outline-dark:hover{
    transition: 0.7s;
    
}

.fa-eye {
    font-size: 25px;
    color: #630063;
    display: block;
    margin: 0 auto;
    text-align: center;
    transition: 0.9s;

}

#deep-quote{
    color: white;
    padding-top: 10px;
    margin-bottom: 21px;

}


.animated.flash{
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.animated.flash:hover{
    animation-duration: 0s;
    animation-iteration-count: 1;
}


footer{
    background: #293039;
    text-align: center;
    color: white;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right:90px;
    margin: 0 auto;
    font-size: 17px;

}

.social-media ul{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 0;
    list-style: none;
    
  }
  
  .social-media ul li i:hover{
    color: black;
    list-style: none;
  
  }
  
  .social-media ul li i{
    color: white;
    margin: 5px;
  }